{% extends 'layout.html' %}

{% block body %}

<form method="post">
    <label for="draws">Number of draws</label>
    <select name="draws" id="draws">
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>

    <label for="samples">Number of samples</label>
    <select name="samples" id="samples">
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
    </select>

    <input type="submit">
</form>

<h3> Number of draws:</h3>
<p> {{ draws }} </p>
<h3> Number of samples:</h3>
<p> {{ samples }}</p>
{% endblock %}